@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

  .ios-scroll-fix {
    padding-bottom: 50px; /* Adjust this value as needed */
  }

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.vote-receipt::after {
  background-image: linear-gradient(135deg, #fff 0.5rem, transparent 0),
    linear-gradient(-135deg, #fff 0.5rem, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 1rem;
  content: '';
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
}

.hero-banner {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 97.00%, 2.00% 96.94%, 4.00% 96.75%, 6.00% 96.46%, 8.00% 96.07%, 10.00% 95.62%, 12.00% 95.13%, 14.00% 94.63%, 16.00% 94.15%, 18.00% 93.73%, 20.00% 93.38%, 22.00% 93.14%, 24.00% 93.02%, 26.00% 93.02%, 28.00% 93.14%, 30.00% 93.38%, 32.00% 93.73%, 34.00% 94.15%, 36.00% 94.63%, 38.00% 95.13%, 40.00% 95.62%, 42.00% 96.07%, 44.00% 96.46%, 46.00% 96.75%, 48.00% 96.94%, 50.00% 97.00%, 52.00% 96.94%, 54.00% 96.75%, 56.00% 96.46%, 58.00% 96.07%, 60.00% 95.62%, 62.00% 95.13%, 64.00% 94.63%, 66.00% 94.15%, 68.00% 93.73%, 70.00% 93.38%, 72.00% 93.14%, 74.00% 93.02%, 76.00% 93.02%, 78.00% 93.14%, 80.00% 93.38%, 82.00% 93.73%, 84.00% 94.15%, 86.00% 94.63%, 88.00% 95.13%, 90.00% 95.62%, 92.00% 96.07%, 94.00% 96.46%, 96.00% 96.75%, 98.00% 96.94%, 100.00% 97.00%);
}

.footer-wave-clip{
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 5.75%, 1.00% 6.15%, 2.00% 6.51%, 3.00% 6.82%, 4.00% 7.08%, 5.00% 7.28%, 6.00% 7.42%, 7.00% 7.49%, 8.00% 7.49%, 9.00% 7.43%, 10.00% 7.31%, 11.00% 7.12%, 12.00% 6.87%, 13.00% 6.56%, 14.00% 6.21%, 15.00% 5.81%, 16.00% 5.38%, 17.00% 4.93%, 18.00% 4.45%, 19.00% 3.97%, 20.00% 3.49%, 21.00% 3.02%, 22.00% 2.56%, 23.00% 2.14%, 24.00% 1.75%, 25.00% 1.40%, 26.00% 1.10%, 27.00% 0.86%, 28.00% 0.68%, 29.00% 0.56%, 30.00% 0.50%, 31.00% 0.52%, 32.00% 0.60%, 33.00% 0.74%, 34.00% 0.95%, 35.00% 1.21%, 36.00% 1.53%, 37.00% 1.90%, 38.00% 2.30%, 39.00% 2.74%, 40.00% 3.20%, 41.00% 3.68%, 42.00% 4.16%, 43.00% 4.64%, 44.00% 5.11%, 45.00% 5.56%, 46.00% 5.97%, 47.00% 6.35%, 48.00% 6.69%, 49.00% 6.97%, 50.00% 7.20%, 51.00% 7.36%, 52.00% 7.46%, 53.00% 7.50%, 54.00% 7.47%, 55.00% 7.37%, 56.00% 7.21%, 57.00% 6.99%, 58.00% 6.71%, 59.00% 6.37%, 60.00% 6.00%, 61.00% 5.58%, 62.00% 5.14%, 63.00% 4.67%, 64.00% 4.19%, 65.00% 3.71%, 66.00% 3.23%, 67.00% 2.77%, 68.00% 2.33%, 69.00% 1.92%, 70.00% 1.55%, 71.00% 1.23%, 72.00% 0.96%, 73.00% 0.75%, 74.00% 0.60%, 75.00% 0.52%, 76.00% 0.50%, 77.00% 0.55%, 78.00% 0.67%, 79.00% 0.85%, 80.00% 1.08%, 81.00% 1.38%, 82.00% 1.72%, 83.00% 2.11%, 84.00% 2.54%, 85.00% 2.99%, 86.00% 3.46%, 87.00% 3.94%, 88.00% 4.42%, 89.00% 4.90%, 90.00% 5.36%, 91.00% 5.79%, 92.00% 6.19%, 93.00% 6.54%, 94.00% 6.85%, 95.00% 7.10%, 96.00% 7.30%, 97.00% 7.43%, 98.00% 7.49%, 99.00% 7.49%, 100.00% 7.42%);
}

.markdown ul.contains-task-list{
 list-style-type: none !important;
}

.grainy::after {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.4;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-shift 5s ease infinite;
  }